// Colours
$dark-blue: #5f77a2;
$medium-blue: #87bbdc;
$light-blue: #b3d8f4;
$very-light-blue: #d9edf5;

// Fonts
$title-font: 'Open Sans', sans-serif;
$main-font: 'Lato', sans-serif;
$thought-font: 'Raleway', sans-serif;

body {
  background-color: $very-light-blue;
  color: $dark-blue;
  font: 100% $main-font;
  padding-left: 15px;
  padding-right: 15px;

  .container {
    max-width: 400px;

    h1, h2 {
      font: $title-font;
      padding-bottom: 15px;
      border-bottom: 1px solid $dark-blue;
    }

    h1, h2, p.thought-description, p.thought-indicator, p.step-description {
      text-align: center;
    }

    .banner-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }

    p.thought-description, p.thought-indicator {
      color: $medium-blue;
      font-family: $thought-font;
      font-size: 150%;
      padding-left: 15px;
      padding-right: 15px;
    }

    p.thought-indicator {
      margin-bottom: 0px;
    }

    p.thought-description {
      margin-top: 5px;
      margin-bottom: 30px;
    }

    ul.thought-list {
      list-style-type: none;
      padding-left: 0px;

      li {
        background-color: $dark-blue;
        display: block;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 150%;

        a {
          text-decoration: none;
          color: $light-blue;
          font: 100% $title-font;
          padding: 10px;
          margin: 5px;
        }
      }
    }

    ul.step-list {
      list-style-type: none;
      padding-left: 0;

      li {
        background-color: $medium-blue;
        padding: 10px;
        display: block;
        border-radius: 3px;
        margin-bottom: 10px;
        text-align: center;

        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }

    .start-button, .stop-button {
      background-color: $medium-blue;
      border: 1px solid $dark-blue;
      border-radius: 3px;
      display: inline-block;
    }

    p.timer-text {
      font-size: 0.8em;
    }

    .back-button {
      background-color: $light-blue;
      border: 1px solid $medium-blue;
      border-radius: 3px;
      font-size: 0.8em;
      padding: 5px;
      margin-top: 40px;
      display: block;
      text-align: center;
    }

    a.back-button {
      text-decoration: none;
      color: $medium-blue;
    }

    a.back-button:hover {
      color: $dark-blue;
    }
  }
}