// Colours
$dark-blue: #5f77a2;
$medium-blue: #87bbdc;
$light-blue: #b3d8f4;
$very-light-blue: #d9edf5;

// Fonts
$title-font: 'Open Sans', sans-serif;
$main-font: 'Lato', sans-serif;

body {
  background-color: $very-light-blue;
  color: $dark-blue;
  font: 100% $main-font;
  padding-left: 15px;

  .container {
    max-width: 400px;

    h1, h2 {
      text-align: center;
    }

    .title {
      font: $title-font;
    }

    ul.thought-list {
      list-style-type: none;

      li {
        background-color: $dark-blue;
        display: inline-block;
        border-radius: 3px;
        padding: 5px;

        a {
          text-decoration: none;
          color: $light-blue;
          font: 100% $title-font;
          padding: 10px;
          margin: 5px;
        }
      }
    }

    ul.step-list {
      list-style-type: none;
      padding-left: 0;

      li {
        background-color: $medium-blue;
        padding: 10px;
        display: block;
        border-radius: 3px;
        margin-bottom: 10px;
        text-align: center;

        a {
          text-decoration: none;
          color: $dark-blue;
        }
      }
    }

    form {
      display: inline-block;

      .start-button, .stop-button {
        background-color: $medium-blue;
        border: 1px solid $dark-blue;
        border-radius: 3px;
        display: inline-block;
      }
    }
  }
}