<div class="banner">
  <%= image_tag("train_of_thought.jpg", class: "banner-image") %>
</div>

<ul class='thought-list'>
  <% @thoughts.each do |thought| %>
    <li><%= link_to thought.name, thought %></li>
  <% end %>
</ul>
